<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">

    <form name="movie_collection" id="movie_collection" method="post">

      <label for="collection">Movie Collection:</label>
      <input type="text" id="collection" name="collection" onkeydown="pressedEnter(event)">
      <input type="hidden" name="page" value='1'>

      <button onclick="submit()">Search</button>

    </form>

  </div>

  <br>

  {{#if isResults}}
  <p> If a result is "N/A", it means the information is unavailable. </p>
    <div class="row">
      <div class="title col-1">
      </div>
      <div class="title col-6">
        <p>Collection</p>
      </div>
      <div class="title col-5">
        <p>Earnings</p>
      </div>
    </div>
    <div class="title col-5">
      <p>Earnings</p>
    </div>
  </div>
  {{/if}}

  {{#each collections}}
  <div class="row">
    <div class="title center col-1">
      <p>{{page @index ../offset}}</p>
    </div>
    <div class="col-6">
      <div class="title">{{name}}</div>
    </div>
    <div class="col-5">
      <p>{{tomoney sum}}</p>
    </div>
  </div>
  <hr>
  {{/each}}

  <div id={{offset}}></div>

</div>