<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">
    <form name="year" id="year" method="post">
      <div class="row">
        <div class="col-auto">
          <label for="year">Year:</label>
          <select id="year" name="year">
            {{#each years}}
            <option value={{year}}>{{year}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-auto">
          <label for="company">Company:</label>
          <input type="text" id="company" name="company" onkeydown="pressedEnter(event)">
          <button onclick="submit()">Search</button>
        </div>
      </div>
    </form>
  </div>
  <br>

  {{#if isResults}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Collection</th>
        <th scope="col">Total Revenue</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <th scope="row">{{company}}</th>
        <td>{{collection}}</td>
        <td>{{tomoney total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}

</div>