<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">

    <form name="year" id="year" method="post">

      <label for="year">Year:</label>
      <select id="year" name="year">

        {{#each years}}
        <option value={{year}}>{{year}}</option>
        {{/each}}

      </select>

      <label for="company">Company:</label>
      <input type="text" id="company" name="company" onkeydown="pressedEnter(event)">

      <!--<input type="hidden" name="page" value='1'>-->
      <button onclick="submit()">Search</button>
    </form>

  </div>

  <br>

  {{#if isResults}}
  <p> If a result is "N/A", it means the information is unavailable. </p>
  <div class="row">
    <div class="title2 col-4">
      <p>Collection</p>
    </div>
    <div class="title2 col-5">
      <p>Movie</p>
    </div>
    <div class="title2 col-3">
      <p>Total Revenue</p>
    </div>
  </div>
  {{/if}}

  {{#each results}}
  <div class="row">
    <div class="col-4">
      <div class="title3">
        {{company}}
      </div>
    </div>
    <div class="col-5">
      <div class="title3">
        <p>{{collection}}</p>
      </div>
    </div>
    <div class="col-3">
      <p>{{tomoney total_revenue}}</p>
    </div>
    <hr>
  </div>
  {{/each}}

  {{!-- <div id={{offset}}></div> --}}

</div>