<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">
    <form name="year" id="year" method="post">
      <div class="row g-3">
        <div class="col-auto">
          <label for="year" class="visually-hidden">Year</label>
          <select class="form-select" id="year" name="year">
            {{#each years}}
            <option value={{year}}>{{year}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-auto">
          <label for="company" class="visually-hidden">Company</label>
          <input class="form-control" placeholder="Company" type="text" id="company" name="company"
            onkeydown="pressedEnter(event)">
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" onclick="submit()">Search</button>
        </div>
      </div>
    </form>
  </div>
  <br>

  {{#if isResults}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Company</th>
        <th scope="col">Collection</th>
        <th scope="col">Total Revenue</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <th scope="row">{{company}}</th>
        <td>{{collection}}</td>
        <td>{{tomoney total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}

</div>