<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div class="row">
    <div class="title col-1">
    </div>
    <div class="title col-6">
      <p>Genre</p>
    </div>
    <div class="title col-5">
      <p>Popularity</p>
    </div>
  </div>

  {{#each genres}}
  <div class="row">
    <div class="title center col-1">
      <p>{{page @index ../offset}}</p>
    </div>
    <div class="col-6">
      <div class="title">{{name}}</div>
    </div>
    <div class="col-5">
      <p>{{round}}</p>
    </div>
  </div>
  <hr>
  {{/each}}

  <div class='row'>
    {{#if booleanPreviousPage}}
    <form name="year" id="pages" method="post">
      <input type="hidden" id="year" name="year" value={{year}}>
      <input type="hidden" id="page" name="page" value={{previousPage}}>
      <button onclick="submit()">previous page</button>
    </form>
    {{/if}}

    <p class="page">Page {{currentPage}}</p>

    {{#if booleanNextPage}}
    <form name="year" id="pages" method="post">
      <input type="hidden" id="year" name="year" value={{year}}>
      <input type="hidden" id="page" name="page" value={{nextPage}}>
      <button onclick="submit()">next page</button>
    </form>
    {{/if}}
  </div>

  <div id={{offset}}></div>
</div>