<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">

    <form name="year" id="year" method="post">

      <label for="year">Year:</label>

      <select id="year" name="year">

        <option value={{year}}>temp year</option>
        <option value={{year}}>temp year</option>
        <option value={{year}}>temp year</option>

        <!-- loop yung para sa option?? -->
        {{#each release_year}}
        <option value={{year}}>{{year}}</option>
        {{/each}}

      </select>

      <button onclick="submit()">Search</button>

    </form>

  </div>

</div>