<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">

    <form name="movie_title" id="movie_title" method="post">

      <label for="title">Movie Title:</label>
      <input type="text" id="title" name="title" onkeydown="pressedEnter(event)">
      <input type="hidden" name="page" value='1'>

      <button onclick="submit()">Search</button>

    </form>

  </div>

  <br>

  {{#each movies}}
  <div class="row">
    <div class="title">
      <p>{{title}}</p>
    </div>
  </div>

  <div class="row info">
    <p>{{tagline}}</p>
    <p>
      Release Date: {{todate release_date}}<br>
      Runtime: {{runtime}} mins<br>
      Popuarity: {{popularity}}<br>
      Link: <a href={{imdb_link}}>{{imdb_link}}</a>
    </p>


    <p class="subtitle">Overview </p>
    <p>{{overview}}</p>

  </div>
  <hr>
  {{/each}}

</div>