<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">

    <form name="genre" id="genre" method="post">

      <label for="genre">Genre:</label>

      <select id="genre" name="genre">

        <option value={{genre}}>temp genre</option>
        <option value={{genre}}>temp genre</option>
        <option value={{genre}}>temp genre</option>

        <!-- loop yung para sa option?? -->
        {{#each genres}}
        <option value={{genre}}>{{genre}}</option>
        {{/each}}

      </select>

      <button onclick="submit()">Search</button>

    </form>

  </div>

</div>