<div class="container">
  <h1>{{ title }}</h1>
  <br>
  
  <div id = "form">

    <form name = "genre" id = "genre" method = "post">
      
      <label for = "genre">Genre:</label>

      <select id = "genre" name = "genre">

        <option value = {{genre}}>temp genre</option>
        <option value = {{genre}}>temp genre</option>
        <option value = {{genre}}>temp genre</option>
        
        <!-- loop yung para sa option?? -->
        <option value = {{genre}}>{{genre}}</option>

      </select>

      <button onclick = "submit()">Search</button>

    </form>

  </div>

</div>