<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div class="row">
    <div class="title2 col-1">
      <p>Quarter</p>
    </div>
    <div class="title2 col-4">
      <p>Company</p>
    </div>
    <div class="title2 col-4">
      <p>Movie</p>
    </div>
    <div class="title2 col-3">
      <p>Average Revenue</p>
    </div>
  </div>

  {{#each results}}
  <div class="row">
    <div class="col-1">
      <p>{{quarter}}</p>
    </div>
    <div class="col-4">
      {{company}}
    </div>
    <div class="col-4">
      <p>{{movie}}</p>
    </div>
    <div class="col-3">
      <p>{{tomoney avg_revenue}}</p>
    </div>
    <hr>
  </div>
  {{/each}}

</div>