<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div class="row">
    <div class="title2 col-1">
      <p>Quarter</p>
    </div>
    <div class="title2 col-4">
      <p>Company</p>
    </div>
    <div class="title2 col-4">
      <p>Movie</p>
    </div>
    <div class="title2 col-3">
      <p>Average Revenue</p>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Quarter</th>
        <th scope="col">Company</th>
        <th scope="col">Movie</th>
        <th scope="col">Average Revenue</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <th scope="row">{{quarter}}</th>
        <td>{{company}}</td>
        <td>{{movie}}</td>
        <td>{{tomoney avg_revenue}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>