<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">

    <form name="year" id="year" method="post">

      <label for="year">Year:</label>

      <select id="year" name="year">

        {{#each years}}
        <option value={{year}}>{{year}}</option>
        {{/each}}

      </select>
      <!--<input type="hidden" name="page" value='1'>-->

      <button onclick="submit()">Search</button>
    </form>

  </div>
  <br>

  {{#if isResults}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Quarter</th>
        <th scope="col">Company</th>
        <th scope="col">Total Revenue</th>
      </tr>
    </thead>
    <tbody>
      {{#each results}}
      <tr>
        <th scope="row">{{quarter}}</th>
        <td>{{company}}</td>
        <td>{{tomoney total}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}

</div>